.navigation{
    max-width: 450px;
    min-width: 245px;
    background: #6a30da;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;

    & > .logo_block{
        width: 100%;
        height: 90px;
        min-height: 90px;
        background: #5913a5;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & > .logo{
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background: #6a30da
        }

        & > .logo_text{
            width: 170px;
            height: 20px;
            border-radius: 23px;
            background: #6a30da
        }
    }

    & > .nav_container {
        width: 200px;
        border-bottom: 3px solid #5d15ab47;
        text-align: center;
        color: white;

        & > .recent_block{
            width: 100%;

            & > .recent_item{
                height: 33px;
                font-size: 13px;
                line-height: 2.5;
            }
        }

        & > ul {
            padding: 0;
            list-style-type: none;
            text-align: center;
            color: white;
            font-style: INHERIT;

           & > a {
               text-decoration: none;
               color: white;

               li {
                height: 36px;
                line-height: 2.4;
                font-size: 15px;
                position: relative;
                margin: 5px 0;

                & > .cat_icon {
                    width: 23px;
                    height: 23px;
                    background-position: center !important;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;
                    position: absolute;
                    top: 2px;
                    left: 4px;

                }

                & > .triangle{
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 18px 0 18px 39.5px;
                    border-color: transparent transparent transparent #6a30da;
                    line-height: 0px;
                    right: -61px;
                    top: 0
                }
            }

           }
        }
    }
}